{% extends '_base.html' %}
{% load static %}
{% block link %}

    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><a href="{% url 'railway-bill-create' %}"
                                                  class="btn btn-primary">Create</a>
                        </h4>
                        <h6 class="card-subtitle">Add class <code>.table</code></h6>
                        <div >
                            <table id="myTable" class="row-border stripe compact">
                                <thead>
                                <tr>
                                    <th class="border-top-0 text-center">№</th>
                                    <th class="border-top-0 text-center">Train</th>
                                    <th class="border-top-0 text-center">Container number</th>
                                    <th class="border-top-0 text-center">SMGS for print</th>
                                    <th class="border-top-0 text-center">SMGS for draft</th>
                                    <th class="border-top-0 text-center">Update</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for bill in railway_bills %}
                                    <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td class="text-center"><a
                                                href="{% url 'train-list' %}"> {{ bill.train.name }}</a></td>
                                        <td class="text-center">{{ bill.container.name }}</td>
                                        <td class="text-center"><a href="{{ bill.file_original.url }}"
                                                                   download><i
                                                class="mdi mdi-24px mdi-file-word"></i></a></td>
                                        <td class="text-center"><a href="{{ bill.file.url }}" download>
                                            <i class="mdi mdi-24px mdi-file-word"></i>
                                        </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'railway-bill-update' bill.id %}">
                                                <i class="mdi mdi-24px mdi-lead-pencil " aria-hidden="true"></i>
                                            </a>
                                            <span>|</span>
                                            <span>|</span>
                                            <a href="{% url 'railway-bill-delete' bill.id bill.train.id %}">
                                                <i class="mdi mdi-24px mdi-delete-forever" aria-hidden="true"></i>
                                            </a>
                                        </td>


                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer  ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/dataTable.js' %}"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

    {#    <script src="{% static 'js/dataTable.js' %}"></script>#}
    <script>
        $(document).ready(function () {
            var my_table = $('#myTable').DataTable();
            $('#myTable tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                var count = my_table.rows({selected: true}).count();
            });

            $('#for_print').click(function () {
                $("#tableRowNumber").text($(this).index() + 1);
            });
        })
        ;
    </script>
{% endblock %}
