{% extends '_base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Table</h4>

                        <h6 class="card-subtitle"></h6> <code>.table</code></h6>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form.sender.label_tag }}
                                        {{ form.sender }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.recipient.label_tag }}
                                        {{ form.recipient }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.destination_station.label_tag }}
                                        {{ form.destination_station }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.border_crossing_stations.label_tag }}
                                        {{ form.border_crossing_stations }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.shipping_name.label_tag }}
                                        {{ form.shipping_name }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.container_owner.label_tag }}
                                        {{ form.container_owner }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.shipping_type.label_tag }}
                                        {{ form.shipping_type }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.container.label_tag }}
                                        {{ form.container }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.payment_of_legal_fees.label_tag }}
                                        {{ form.payment_of_legal_fees }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.documents_by_sender.label_tag }}
                                        {{ form.documents_by_sender }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.train.label_tag }}
                                        {{ form.train }}
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        {{ form.departure_station.label_tag }}
                                        {{ form.departure_station }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.sender_statement.label_tag }}
                                        {{ form.sender_statement }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.railway_carriage.label_tag }}
                                        {{ form.railway_carriage }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.type_of_packaging.label_tag }}
                                        {{ form.type_of_packaging }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.number_of_seats.label_tag }}
                                        {{ form.number_of_seats }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.net.label_tag }}
                                        {{ form.net }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.tara.label_tag }}
                                        {{ form.tara }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.gross.label_tag }}
                                        {{ form.gross }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.seals.label_tag }}
                                        {{ form.seals }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.submerged.label_tag }}
                                        {{ form.submerged }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.method_of_determining_mass.label_tag }}
                                        {{ form.method_of_determining_mass }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.carriers.label_tag }}
                                        {{ form.carriers }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.additional_information.label_tag }}
                                        {{ form.additional_information }}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=http://178.62.91.121/media/{{ form.file.value }}'
                                            width='100%' height='100%' frameborder='0'>This is an embedded <a
                                            target='_blank' href='http://office.com'>Microsoft Office</a> document,
                                        powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.
                                    </iframe>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-success" value="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/dataTable.js' %}"></script>


    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
{% endblock %}
s