{% extends '_base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><a href="{% url 'railway-bill-create' %}"
                                                  class="btn btn-primary">Create</a>
                            {#                            <a href="{% url 'print-printer' %}"#}
                            {#                                                                                        class="btn btn-success"#}
                            {#                                                                                        id="for_print">Print</a>#}
                        </h4>
                        <h6 class="card-subtitle">Add class <code>.table</code></h6>
                        <div class="table-striped">
                            <table id="myTable">
                                <thead>
                                <tr>
                                    <th class="border-top-0">Train</th>
                                    <th class="border-top-0">Container number</th>
                                    <th class="border-top-0">Railway original</th>
                                    <th class="border-top-0">Railway draft</th>
                                    <th class="border-top-0">Update</th>

                                </tr>
                                </thead>
                                <tbody>

                                {% for bill in railway_bills %}
                                    <tr>
                                        <td><a href="{% url 'train-list' %}"> {{ bill.train.name }}</a></td>
                                        <td>{{ bill.container.name }}</td>
                                        <td><a href="{{ bill.file_original.url }}"
                                               download>Railway original</a></td>
                                        <td><a href="{{ bill.file.url }}" download>Railway draft</a></td>
                                        <td><a href="{% url 'railway-bill-update' bill.id %}"
                                               class="btn btn-primary">Update</a>
                                            <a href="{% url 'railway-bill-delete' bill.id bill.train.id %}"
                                               class="btn btn-danger">Delete</a>
                                        </td>


                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer  ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/dataTable.js' %}"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>

    {#    <script src="{% static 'js/dataTable.js' %}"></script>#}
    <script>
        $(document).ready(function () {
            var my_table = $('#myTable').DataTable();
            $('#myTable tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
                var count = my_table.rows({selected: true}).count();
            });

            $('#for_print').click(function () {
                $("#tableRowNumber").text($(this).index() + 1);
            });
        })
        ;
    </script>
{% endblock %}
