{% extends '_base.html' %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><a href="{% url 'train-create' %}" class="btn btn-primary">Create</a>
                        </h4>
                        <div class="table-responsive">
                            <table class="row-border stripe compact" id="myTable">
                                <thead>
                                <tr>
                                    <th class="border-top-0 text-center">#</th>
                                    <th class="border-top-0 text-center">Terminal</th>
                                    <th class="border-top-0 text-center">Train number</th>
                                    <th class="border-top-0 text-center">Train type</th>
                                    <th class="border-top-0 text-center">SMGS forms</th>
                                    <th class="border-top-0 text-center">Upload</th>
                                    <th class="border-top-0 text-center">Zip</th>
                                    <th class="border-top-0 text-center">Update</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for train in trains %}
                                    <tr>

                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td class="text-center">
                                            {{ train.terminal.name }}
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'container-status-list-by-train' pk=train.id %}">{{ train.name }}</a>
                                        </td>
                                        <td class="text-center">{{ train.type }}</td>
                                        <td class="text-center"><a
                                                href="{% url 'railway-bill-list-by-train' pk=train.id %}">SMGS forms</a></td>

                                        <td class="text-center"><a
                                                href="{% url 'train-pre-upload-excel' pk=train.id %}">SMGS</a></td>

                                        <td class="text-center">
                                            {% if train.railway_bills.all.count %}
                                                <a href="{% url  'railway_download' train.id %}"><i
                                                        class="mdi mdi-24px mdi-download"
                                                        aria-hidden="true"></i> Download </a>
                                            {% endif %}

                                        </td>
                                        <td class="text-center"><a href="{% url 'train-update' train.id %}">
                                            <i class="mdi mdi-24px mdi-lead-pencil" aria-hidden="true"></i></a>
                                            <span>|</span>
                                            <span>|</span>
                                            <a href="{% url 'train-delete' train.id %}"
                                            ><i class="mdi mdi-24px mdi-delete-forever"
                                                aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/dataTable.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
{% endblock %}
