{% extends '_base_internal.html' %}
{% load static %}

{% block link %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="row">
                {% for data in terminal_data %}
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                Terminal
                            </div>
                            <div class="card-body">
                                <a href="{% url 'container-list-in-terminal' pk=data.terminal.pk %}"><h5
                                        class="card-title">{{ data.terminal.name }}</h5></a>
                            </div>
                            <div class="card-footer text-muted">
                                <span> {{ data.count }} Containers</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="row">
                <!-- column -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><a href="{% url 'train-create' %}" class="btn btn-primary">Create</a>
                            </h4>
                            <div class="table-responsive">
                                <table class="row-border stripe compact" id="containers_in_terminal">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0 text-center">#</th>
                                        <th class="border-top-0 text-center">Terminal</th>
                                        <th class="border-top-0 text-center">Container</th>
                                        <th class="border-top-0 text-center">Type</th>
                                        <th class="border-top-0 text-center">State</th>
                                        <th class="border-top-0 text-center">Manager</th>
                                        <th class="border-top-0 text-center">Documents</th>
                                        <th class="border-top-0 text-center">Seal Images</th>
                                        <th class="border-top-0 text-center">Date</th>
                                        <th class="border-top-0 text-center">Waiting List</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for container in containers_in_terminal %}
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td class="text-center">{{ container.terminal.name }}</td>
                                            <td class="text-center">{{ container.container.name }}</td>
                                            <td class="text-center">{{ container.container.weight_type }}</td>
                                            {% if container.laden %}
                                                <td class="text-center">Груженный</td>
                                            {% else %}
                                                <td class="text-center">Порожний</td>
                                            {% endif %}
                                            <td class="text-center">{{ container.staff.user.username }}</td>
                                            <td class="text-center">
                                                {% for container_document in container.container_documents.all %}
                                                    <a href="{{ container_document.document.url }}">
                                                        <i class="mdi mdi-24px mdi-file-pdf"></i>
                                                    </a>
                                                {% endfor %}
                                            </td>
                                            <td class="text-center">
                                                {% for seal_image in container.seal_images.all %}
                                                    <img src="{{ seal_image.image.url }}"
                                                         onclick="open_modal('{{ seal_image.image.url }}')"
                                                         width="25px">
                                                {% endfor %}
                                            </td>
                                            <td class="text-center">{{ container.date_of_arrived }}</td>
                                            <td class="text-center">
                                                <a href="{% url 'container-in-terminal-update' pk=container.id %}"><i
                                                        class="mdi mdi-24px mdi-lead-pencil" aria-hidden="true"></i></a>
                                                <span>|</span>
                                                <span>|</span><a
                                                    href="{% url 'container-in-terminal-delete' pk=container.id %}">
                                                <i class="mdi mdi-24px mdi-delete-forever"
                                                   aria-hidden="true"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form action="{% url 'upload-container-in-terminal-documents' %}"
                                          method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">For documents</label>
                                            <input type="file" name="container_files" class="form-control" multiple
                                                   id="exampleFormControlFile1">
                                        </div>
                                        <input type="submit" value="Upload" class="btn btn-success">
                                    </form>


                                </div>
                                <div class="col-lg-6">

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div
                        class="modal fade"
                        id="plomb_images"
                        tabindex="-1"
                        aria-labelledby="bs-example-modal-lg"
                        aria-hidden="true"
                >
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header d-flex align-items-center">
                                <h4 class="modal-title" id="myLargeModalLabel">
                                    Seal Image
                                </h4>
                                <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                        onclick="clear_all_data()"
                                ></button>
                            </div>
                            <div class="modal-body">

                                <div id="modal_plombs_body">
                                    <div id="carouselExampleCaptions" class="carousel slide carousel-dark"
                                         data-bs-ride="carousel">

                                        <div class="carousel-inner" id="carousel_plomb_images">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#containers_in_terminal').DataTable({
                "lengthMenu": [[50, 100, -1], [50, 100, "All"]]
            });
        });

        function open_modal(url_image) {

            var img_div = '<div class="carousel-item active text-center"><img  src="' + url_image + '" width="70%"> </div>';
            $("#carousel_plomb_images").append(img_div);
            $('#plomb_images').modal('show')
        }
    </script>
{% endblock %}
